- var arr = users;


block content

    h1 list of users, cuz they rule
        
    - for (var i=0; i<arr.length; i++)
        div
            ul
                li= arr[i].name
                li= arr[i].email