doctype html
html
  head
    title= title
    link(rel='stylesheet', href="//fonts.googleapis.com/css?family=Bangers|Permanent+Marker")
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
