extends layout

block content

  div(class="row-fluid")
    div(id="left-div")
      div(id="profile")
        h2(id="name")
          | Name: #{name}
        h2(id="email")
          | Email: #{email}
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")